:root {
    --color1: #3F51B5;
    --color2: #FF5722;
    --color3: #4CAF50;
    --color4: #FFFFFF;
    --color5: #212121;
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-size: 2.5rem;
    background-image: url("../images/smart-banner.webp");
    background-size: cover;
    margin-bottom: 50px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

header img {
    text-align: center;
    width: 100px;
    height: 100px;
}

header h2 {
    color: black;
    text-shadow: 1px 1px 3px #FF5722;
}

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

.form-box {
    max-width: 600px;
    margin: 0 auto;
    margin-bottom: 150px;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    flex-direction: column;
    gap: 15px;
}

.form-box h2 {
    text-align: center;
}

.submit-box {
    padding-left: 25px;
}

form input,
form select {
    width: 90%;
    padding: 10px;
    border: 1px solid black;
    border-radius: 5px;
    font-size: 1rem;
    margin-bottom: 10px;
}

form input:focus,
form select:focus {
    border-color: var(--color1);
    outline: none;
    box-shadow: 0 0 5px rgba(58, 62, 73, 0.5);
}

form input[type="submit"] {
    background-color: var(--color4);
    color: var(--font2);
    font-size: 1.2rem;
    font-weight: bold;
    cursor: pointer;
    border: none;
    padding: 12px;
}

form input[type="submit"]:hover {
    background-color: rgba(58, 62, 73, 0.9);
}

#addAddressButton {
    border: none;
    background: #FFFFFF;
    color: #4CAF50;
    cursor: pointer;
}

.address-input {
    position: relative;
}

.address-input:hover .remove-address {
    display: inline-block;
}

.remove-address {
    display: none;
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-60%);
    padding: 5px;
    cursor: pointer;
    color: #FFFFFF;
    border: none;
    background: #FF5722;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    font-weight: bold;
    margin-left: 5px;
}

.button-container {
    margin-top: 20px;
    max-width: 300px;
}

#map {
    height: 90vh;
    width: 100%;
    position: relative;
}

#sidebar {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 300px;
    background: white;
    padding: 15px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease;
    transform: translateX(-100%);
    z-index: 10;
}

#sidebar.open {
    transform: translateX(0);
}

#toggleSidebar {
    position: absolute;
    top: 40%;
    right: -40px;
    width: 30px;
    height: 30px;
    background: var(--color1);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 11;
}

#addressList {
    margin-bottom: 10px;
}

#routeDetails {
    font-size: 0.9rem;
    margin-top: 10px;
}

footer {
    text-align: center;
    font-size: 1rem;
    padding: .2rem;
    color: black;
    box-shadow: 0 -4px 6px rgba(0, 0, 0, 0.2);
}